<html>
    <head>
        <meta charset="utf-8">
        <title>Commande</title>
    </head>
    <body>
        <div>
            {% for c in com %}
                <div>
                    <h1>{{ c.client }}</h1>
                    <ol>
                        {% for m in c.menu.all %}
                        <li>{{ m.name }} ..... {{ m.price }} Ar</li>
                        {% endfor %}
                    </ol>
                    <p>Date : {{c.date}}</p>
                    <p>Etat : {{ c.type }} </p>
                    <p>Total : {{ c.total }} Ar</p>
                    <p>Message Mobile Money : {{ c.message }}</p>
                    {% if c.commentaire %}
                    <p>Commentaire : {{ c.commentaire }}</p>
                    {% else %}
                    <p>Pas de commentaire</p>
                    {% endif%}
                    {% if c.type == attente %}
                    <p><a href="{% url 'confirmCommand' pk=c.pk %}">Confirmer la commande</a></p>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'home' %}">Retour</a>
    </body>
</html>